@model PatternConstructor.Models.User

@{
}
<h1 class="text-DarkPurple text-center fw-bold">Статьи</h1>

<div class="album ">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var article in Model.FavoriteArticles)
            {
                <a class="nav-link text-DarkPurple" asp-controller="Articles" asp-action="DetailArticle" asp-route-id="@article.ArticleId">
                    <div class="col">
                        <div class="card shadow-sm bg-LightPink">
                            <img class="card-img-top pt-3" src="@article.Article.Image" style="object-fit: scale-down; height:250px; width: 100%;" alt="Card image cap">

                            <div class="card-body">
                                <p class="card-text text-DarkPurple fs-3 text-decoration-underline">@article.Article.Title</p>
                            </div>

                        </div>
                    </div>
                </a>
            }


        </div>
    </div>
</div>
