@model PatternConstructor.ViewModels.EditProfileViewModel

<h1>Изменение мерок</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form>
        <select class="form-select" aria-label="Выбор размера" id="ddltype" name="type" asp-items="ViewBag.Types" >
            <option>Выберите размер</option>
        </select>
        </form>
        <form asp-action="Edit">

            <div  class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" id="UserId" asp-for="Id" class="form-control"/>
                @*<span asp-validation-for="Id" class="text-danger"></span>*@
            </div>
                        
            <div class="form-group">
                <label asp-for="BustCenter" class="control-label"></label>
                <input asp-for="BustCenter" class="form-control"/>
                @*<span asp-validation-for="BustCenter" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="LegLength" class="control-label"></label>
                <input asp-for="LegLength" class="form-control" />
                @*<span asp-validation-for="LegLength" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="ShoulderToWrist" class="control-label"></label>
                <input asp-for="ShoulderToWrist" class="form-control" />
                @*<span asp-validation-for="ShoulderToWrist" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="SeatHeight" class="control-label"></label>
                <input asp-for="SeatHeight" class="form-control" />
                @*<span asp-validation-for="SeatHeight" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="HipsGirth" class="control-label"></label>
                <input asp-for="HipsGirth" class="form-control" />
                @*<span asp-validation-for="HipsGirth" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="BustGirth" class="control-label"></label>
                <input asp-for="BustGirth" class="form-control" />
                @*<span asp-validation-for="BustGirth" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="UpperArm" class="control-label"></label>
                <input asp-for="UpperArm" class="form-control" />
                @*<span asp-validation-for="UpperArm" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="WaistGirth" class="control-label"></label>
                <input asp-for="WaistGirth" class="form-control" />
                @*<span asp-validation-for="WaistGirth" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="WristGirth" class="control-label"></label>
                <input asp-for="WristGirth" class="form-control" />
                @*<span asp-validation-for="WristGirth" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="HipHeight" class="control-label"></label>
                <input asp-for="HipHeight" class="form-control" />
                @*<span asp-validation-for="HipHeight" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="BustHeight" class="control-label"></label>
                <input asp-for="BustHeight" class="form-control" />
                @*<span asp-validation-for="BustHeight" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="ShoulderToNeck" class="control-label"></label>
                <input asp-for="ShoulderToNeck" class="form-control" />
                @*<span asp-validation-for="ShoulderToNeck" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="ElbowLength" class="control-label"></label>
                <input asp-for="ElbowLength" class="form-control" />
                @*<span asp-validation-for="ElbowLength" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="BackWaistLength" class="control-label"></label>
                <input asp-for="BackWaistLength" class="form-control" />
                @*<span asp-validation-for="BackWaistLength" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="FrontWaistLength" class="control-label"></label>
                <input asp-for="FrontWaistLength" class="form-control" />
                @*<span asp-validation-for="FrontWaistLength" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="BackArmholeDepth" class="control-label"></label>
                <input asp-for="BackArmholeDepth" class="form-control" />
                @*<span asp-validation-for="BackArmholeDepth" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="NeckGirth" class="control-label"></label>
                <input asp-for="NeckGirth" class="form-control" />
                @*<span asp-validation-for="NeckGirth" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="BustWidth" class="control-label"></label>
                <input asp-for="BustWidth" class="form-control" />
                @*<span asp-validation-for="BustWidth" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="BottomWidth" class="control-label"></label>
                <input asp-for="BottomWidth" class="form-control" />
                @*<span asp-validation-for="BottomWidth" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="BustGirthUp" class="control-label"></label>
                <input asp-for="BustGirthUp" class="form-control" />
                @*<span asp-validation-for="BustGirthUp" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="SleeveWidthBottom" class="control-label"></label>
                <input asp-for="SleeveWidthBottom" class="form-control" />
                @*<span asp-validation-for="SleeveWidthBottom" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="BackWidth" class="control-label"></label>
                <input asp-for="BackWidth" class="form-control" />
                @*<span asp-validation-for="BackWidth" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="WaistFloorSideLength" class="control-label"></label>
                <input asp-for="WaistFloorSideLength" class="form-control" />
                @*<span asp-validation-for="WaistFloorSideLength" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="WaistFloorFrontLength" class="control-label"></label>
                <input asp-for="WaistFloorFrontLength" class="form-control" />
                @*<span asp-validation-for="WaistFloorFrontLength" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="WaistFloorBackLength" class="control-label"></label>
                <input asp-for="WaistFloorBackLength" class="form-control" />
                @*<span asp-validation-for="WaistFloorBackLength" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Изменить" class="btn btn-primary" />
            </div>
        </form>

        
    </div>
</div>



@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@

    <script>
        let userID = document.getElementById("UserId");
    $(function () {
        $("#ddltype").change(function () {
            $.ajax({
                type: "Post",
                url: "/Account/ChooseSize?type=" + $(this).val() + "&id="+userID.value,
                success: function (data) {
                    $("#sizecontainer").html("");
                    $("#sizecontainer").html(data);
                    location.reload();
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
            
            
        });
    });



</script>
}
