html {
  font-family: 'Sans Serif Collection';
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-DarkPurple {
    --bs-text-opacity: 1;
    color: #5D2A42 !important;
}

.text-BrightPink {
    --bs-text-opacity: 1;
    color: #FB6376 !important;
}

.text-Pink {
    --bs-text-opacity: 1;
    color: #FCB1A6 !important;
}

.text-LightPink {
    --bs-text-opacity: 1;
    color: #FFDCCC !important;
}

.text-Light {
    --bs-text-opacity: 1;
    color: #FFF9EC !important;
}

.bg-BrightPink {
    --bs-bg-opacity: 1;
    background-color: #FB6376 !important;
}

.bg-Pink {
    --bs-bg-opacity: 1;
    background-color: #FCB1A6 !important;
}

.bg-LightPink {
    --bs-bg-opacity: 1;
    background-color: #FFDCCC !important;
}

.bg-Light {
    --bs-bg-opacity: 1;
    background-color: #FFF9EC !important;
}

.form-control:focus {
    color: #5D2A42;
    background-color: #fff;
    border-color: #FFDCCC;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(251, 99, 118, 0.25);
}

.btn-favorite {
    color: #FB6376;
    border-color: #FB6376;
}

    .btn-favorite:hover {
        color: #FFF9EC;
        background-color: #FB6376;
        border-color: #FB6376;
    }

    .btn-check:focus + .btn-favorite, .btn-favorite:focus {
        box-shadow: 0 0 0 0.25rem rgba(251,99,118, 0.5);
    }

    .btn-check:checked + .btn-favorite, .btn-check:active + .btn-favorite, .btn-favorite:active, .btn-favorite.active, .btn-favorite.dropdown-toggle.show {
        color: #FFF9EC;
        background-color: #FB6376;
        border-color: #FB6376;
    }

        .btn-check:checked + .btn-favorite:focus, .btn-check:active + .btn-favorite:focus, .btn-favorite:active:focus, .btn-favorite.active:focus, .btn-favorite.dropdown-toggle.show:focus {
            box-shadow: 0 0 0 0.25rem rgba(251,99,118, 0.5);
        }

    .btn-favorite:disabled, .btn-favorite.disabled {
        color: #FB6376;
        background-color: transparent;
    }

.form_radio_group {
/*    display: inline-block;*/
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.form_radio_group-item {
    /*display: inline-block;*/
    float: inherit;
}

.form_radio_group input[type=radio] {
    display: none;
}

.form_radio_group label {
/*    display: inline-block;*/
    cursor: pointer;
    padding: 0px 15px;
    line-height: 3rem;
    border: 1px solid #FB6376;
    border-radius: 6px 6px 6px 6px;
    user-select: none;
}

/*.form_radio_group .form_radio_group-item:first-child label {
    border-radius: 6px 0 0 6px;
}

.form_radio_group .form_radio_group-item:last-child label {
    border-radius: 0 6px 6px 0;
    border-right: 1px solid #999;
}*/

/* Checked */
.form_radio_group input[type=radio]:checked + label {
    background: #FB6376;
    color: #FFDCCC;
}

/* Hover */
.form_radio_group label:hover {
    background: #FCB1A6;
    color: #FFDCCC;
}

/* Disabled */
.form_radio_group input[type=radio]:disabled + label {
    background: #FFDCCC;
    color: #5D2A42;
}




.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
}

    .form-check .form-check-input {
        float: left;
        margin-left: -1.5em;
    }



.form-check-input:focus {
    border-color: #FCB1A6;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(251,99,118, 0.25);
}

    .form-check-input:checked {
        background-color: #FB6376;
        border-color: #FB6376;
    }

        .form-check-input:checked[type=checkbox] {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
        }

        .form-check-input:checked[type=radio] {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
        }

    .form-check-input[type=checkbox]:indeterminate {
        background-color: #FB6376;
        border-color: #FB6376;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
    }

