@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var currentUser = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PatternConstructor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PatternConstructor.styles.css" asp-append-version="true" />
</head>
<body class="bg-Light">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-Pink border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-Light fw-bold fs-4" asp-area="" asp-controller="Home" asp-action="Index">PatternConstructor</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-DarkPurple fs-5" asp-area="" asp-controller="Home" asp-action="SizeCharts">Таблицы размеров</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-DarkPurple fs-5" asp-area="" asp-controller="Articles" asp-action="Index">Статьи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-DarkPurple fs-5" asp-area="" asp-controller="Constructor" asp-action="Index">Конструктор</a>
                        </li>
                    </ul>
                     @if (SignInManager.IsSignedIn(User))
                        {
                            <ul class="navbar-nav">
                                
                                <li class="nav-item">
                                <a class="nav-link text-DarkPurple fs-5" asp-area="" asp-controller="Account" asp-action="History">История</a>
                                </li>

                                <li class="nav-item">
                                <a class="nav-link text-DarkPurple fs-5" asp-area="" asp-controller="Account" asp-action="Profile">Профиль</a>
                                </li>

                                <li class="nav-item">
                                <a class="nav-link text-DarkPurple fs-5" asp-area="" asp-controller="Account" asp-action="Favorites">Избранное</a>
                                </li>
                                
                                <li class="nav-item">
                                <a class="nav-link text-DarkPurple fs-5" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>
                                </li>

                            </ul>
                        }
                        else
                        {
                            <ul class="navbar-nav d-sm-inline-flex">
                                <li class="nav-item">
                                <a class="nav-link text-DarkPurple fs-5" asp-area="" asp-controller="Account" asp-action="Register">Зарегистрироваться</a>
                            </li>
                                <li>
                                <a class="nav-link text-DarkPurple fs-5" asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
                                </li>
                            </ul>
                        }

                </div>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData["Error"] != null)
            {
                <div class="col-md-12 alert alert-danger fs-5">
                    <span><b>Sorry!</b> - @TempData["Error"] </span>
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-DarkPurple fs-5 bg-Pink">
        <div class="container">
            &copy; 2024 - PatternConstructor
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
