@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-DarkPurple text-center fw-bold">Конструктор</h1>

<div class="album  text-DarkPurple">
    <p class="fs-3 text-DarkPurple">Базовые выкройки</p>
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">

          <a class="nav-link text-dark" asp-area="" asp-controller="Constructor" asp-action="BasicSun" asp-route-id="">
              <div class="col">
                    <div class="card shadow-sm bg-LightPink">
                        <img src = "">

                        <div class="card-body">
                            <p class="card-text fs-4 text-DarkPurple link">Базовая юбка-солнце</p>
                        </div>
                    </div>
               </div>
           </a>

           <a class="nav-link text-dark" asp-area="" asp-controller="Constructor" asp-action="BasicDress" asp-route-id="">
                <div class="col bg-LightPink">
                    <div class="card shadow-sm bg-LightPink">
                        <img src = "">

                        <div class="card-body ">
                            <p class="card-text fs-4 text-DarkPurple link">Базовая выкройка платья</p>
                        </div>
                    </div>
               </div>
           </a>

           

      </div>
    </div>
    <br />
    <hr size="7px" class="text-BrightPink"/>
    <p class="fs-3 text-DarkPurple">Составные выкройки</p>
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">

          <a class="nav-link text-dark" asp-area="" asp-controller="Constructor" asp-action="SkirtCombination" asp-route-id="">
                <div class="col bg-LightPink">
                    <div class="card shadow-sm bg-LightPink">
                        <img src = "">

                        <div class="card-body">
                            <p class="card-text fs-4 text-DarkPurple link">Юбки</p>
                        </div>
                    </div>
               </div>
           </a>

           <a class="nav-link text-dark" asp-area="" asp-controller="Constructor" asp-action="DressCombination" asp-route-id="">
                <div class="col bg-LightPink">
                    <div class="card shadow-sm bg-LightPink">
                        <img src = "">

                        <div class="card-body">
                            <p class="card-text fs-4 text-DarkPurple link">Платья</p>
                        </div>
                    </div>
               </div>
           </a>

      </div>
    </div>
  </div>