@using PatternConstructor.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Юбка";
}
@model PatternConstructor.ViewModels.SkirtConstructModel

<h1 class="text-DarkPurple text-center fw-bold">Генератор выкройки юбки</h1>



<form asp-action="Skirt">
    <div class="row text-DarkPurple">
        <input hidden asp-for="SkirtCombinationModel.Length" class="form-control" />
        <input hidden asp-for="SkirtCombinationModel.Type" class="form-control" />
        <input hidden asp-for="SkirtCombinationModel.Belt" class="form-control" />
        <input hidden asp-for="SkirtCombinationModel.Clasp" class="form-control" />
        <input hidden asp-for="SkirtCombinationModel.DoubleContour" class="form-control" />
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="WaistGirth" class="control-label"></label>
                <input asp-for="WaistGirth" class="form-control" />
                @*<span asp-validation-for="WaistGirth" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="HipHeight" class="control-label"></label>
                <input asp-for="HipHeight" class="form-control" />
                @*<span asp-validation-for="HipHeight" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="HipsGirth" class="control-label"></label>
                <input asp-for="HipsGirth" class="form-control" />
                @*<span asp-validation-for="HipsGirth" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="LegLength" class="control-label"></label>
                <input asp-for="LegLength" class="form-control" />
                @*<span asp-validation-for="LegLength" class="text-danger"></span>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="WaistFloorBackLength" class="control-label"></label>
                <input asp-for="WaistFloorBackLength" class="form-control" />
                @*<span asp-validation-for="WaistFloorBackLength" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="WaistFloorFrontLength" class="control-label"></label>
                <input asp-for="WaistFloorFrontLength" class="form-control" />
                @*<span asp-validation-for="WaistFloorFrontLength" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="WaistFloorSideLength" class="control-label"></label>
                <input asp-for="WaistFloorSideLength" class="form-control" />
                <span asp-validation-for="WaistFloorSideLength" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <br />
            <ul>
                <li>Длина: @Model.SkirtCombinationModel.Length</li>
                <li>Тип: @Model.SkirtCombinationModel.Type</li>
                <li>Пояс: @Model.SkirtCombinationModel.Belt</li>
                <li>Застежка: @Model.SkirtCombinationModel.Clasp</li>
                @if (Model.SkirtCombinationModel.DoubleContour)
                {
                    <li>Двойные контуры</li>
                }
                else
                {
                    <li>Нет двойных контуров</li>
                }

            </ul>
        </div>
        <div class="form-group">
            <br />
            <input type="submit" value="Создать" class="btn btn-favorite w-100 fs-5" />
        </div>

    </div>
</form>
